/**
 * Copyright 2019 NOTNICEFORMAL PTY LTD. All Rights Reserved.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.mdl-navigation__link {
  font-weight: 700;
}
.mdl-card {
  min-width: 100%;
  max-width: 100%;
}
.mdl-card__title {
  min-height: 245px;
}
.mdl-card__title-error {
  align-items: flex-start;
  background:
    url('../images/error.png') bottom right 15% no-repeat;
}
.mdl-card__title-warning {
  align-items: flex-start;
  background:
    url('../images/warning.png') bottom right 15% no-repeat;
}
.mdl-card__title-template {
  align-items: flex-start;
  background:
    url('../images/template.png') bottom right 15% no-repeat;
}
.mdl-card__title-info {
  align-items: flex-start;
  background:
    url('../images/info.png') bottom right 15% no-repeat;
}
.mdl-textfield__label {
  font-weight: bold;
}
.mdl-textfield__error {
  font-style: italic;
}
.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.center-items {
  justify-content: center;
}
.mdl-data-table{
  min-width: 100%;
}
/**
Header colors
*/
.nnf-color--header {
	background-color: rgb(151, 18, 89)!important
}
.nnf-color--header-contrast {
	background-color: rgb(245, 245, 245)!important
}
.nnf-color-text--header {
	color: rgb(151, 18, 89)!important
}
.nnf-color-text--header-contrast {
	color: rgb(245, 245, 245)!important
}
/**
Form/Submit button colors
*/
.nnf-color--submit {
	background-color: rgb(80, 18, 151)!important
}
.nnf-color--submit-contrast {
	background-color: rgb(245, 245, 245)!important
}
.nnf-color-text--submit {
	color: rgb(80, 18, 151)!important
}
.nnf-color-text--submit-contrast {
	color: rgb(245, 245, 245)!important
}
/**
Card colors
*/
.nnf-color--card {
	background-color: rgb(18, 151, 147)!important
}
.nnf-color--card-contrast {
	background-color: rgb(245, 245, 245)!important
}
.nnf-color-text--card {
	color: rgb(18, 151, 147)!important
}
.nnf-color-text--card-contrast {
	color: rgb(245, 245, 245)!important
}
/**
Card Alternative colors
*/
.nnf-color--card-alt {
	background-color: rgb(147, 18, 151)!important
}
.nnf-color--card-alt-contrast {
	background-color: rgb(245, 245, 245)!important
}
.nnf-color-text--card-alt {
	color: rgb(147, 18, 151)!important
}
.nnf-color-text--card-alt-contrast {
	color: rgb(245, 245, 245)!important
}
/**
Error colors
*/
.nnf-color--error {
	background-color: rgb(255, 114, 96)!important
}
.nnf-color--error-contrast {
	background-color: rgb(66, 66, 66)!important
}
.nnf-color-text--error {
	color: rgb(255, 114, 96)!important
}
.nnf-color-text--error-contrast {
	color: rgb(66, 66, 66)!important
}
/**
Warning/Info colors
*/
.nnf-color--info {
	background-color: rgb(255, 245, 195)!important
}
.nnf-color--info-contrast {
	background-color: rgb(66, 66, 66)!important
}
.nnf-color-text--info {
	color: rgb(255, 245, 195)!important
}
.nnf-color-text--info-contrast {
	color: rgb(66, 66, 66)!important
}
/**
Success colors
*/
.nnf-color--success {
	background-color: rgb(155, 215, 213)!important
}
.nnf-color--success-contrast {
	background-color: rgb(66, 66, 66)!important
}
.nnf-color-text--success {
	color: rgb(155, 215, 213)!important
}
.nnf-color-text--success-contrast {
	color: rgb(66, 66, 66)!important
}
/**
Card
    box-shadow: h-offset v-offset blur spread color;
*/
.mdl-card {
	box-sizing: border-box;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .14);
}
.mdl-textfield__label {
    color: inherit;
}